* {
margin: 0;
padding: 0;
box-sizing: border-box;  

}
body,
html {
  overflow-x: hidden;
  font-family: 'Merriweather';
}
.webgl {
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
nav {
  color: aqua;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: beige;
  font-weight: bold;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}
.title {
  color: aquamarine;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top : 50%;
  transform: translate(-50%,-50%)
}